@model ClientMVC.Models.BandForm

<h1>@ViewBag.Title</h1>

<div class="row">
    <div class="col-md-12">
        <form action="~/band/@Model.Action" method="post">
            <input type="hidden" name="id" value="@Model.Band.ID" />
            <input type="hidden" name="rowVersion" value="@Model.Band.RowVersion" />

            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" value="@Model.Band.Name" class="form-control" />
            </div>

            <div class="form-group">
                <label>Description</label>
                <input type="text" name="name" value="@Model.Band.Description" class="form-control" />
            </div>

            <div class="form-group">
                <label>Invite message</label>
                <input type="text" name="name" value="@Model.Band.InviteMessage" class="form-control" />
            </div>

            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
</div>
