@model ClientMVC.Models.BandShow

@{
    ViewBag.Title = Model.Band.Name;
}

<h1>@Model.Band.Name</h1>

@if (Model.Band.Applications.Count == 0)
{
    <p>No applications found</p>
}
else
{
<ul>
    @foreach (var bandUser in Model.Band.BandUsers)
    {
        if (bandUser.UserID == Model.LoggedInUserId)
        {
            foreach (var application in Model.Band.Applications)
            {
                if (application.Result == null)
                {
                    <h1>@application.Message</h1>
                    <li>
                        <form class="form-horizontal" action="~/application/accept" method="post" name="frm">
                            <input type="hidden" name="applicationID" value="@application.ID" />
                            <input type="hidden" name="userID" value="@application.UserID" />
                            <input type="hidden" name="bandID" value="@application.BandID" />
                            <p>
                                <button type="submit" class="btn btn-success">Accept</button>
                            </p>
                        </form>
                        <form class="form-horizontal" action="~/application/decline" method="post" name="frm">
                            <input type="hidden" name="id" value="@application.ID" />
                            <p>
                                <button type="submit" class="btn btn-danger">Decline</button>
                            </p>
                        </form>
                    </li>
                }
            }
        }
    }
</ul>
}


